.form-control{
    width: 500px;
  }
.nav.nav-tabs {
    /*float: left;
    display: block;
    margin-right: 20px;
    border-bottom:0;
    border-right: 1px solid #ddd;
    padding-right: 15px;*/
    margin-top: -50px;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background:rgb(187, 222, 243);
    color:black
}

.nav-tabs .nav-link.active {
    color: white;
    background-color:#48729c !important;
    border-color: transparent !important;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.5rem!important;
    border-top-right-radius: 0.5rem!important;
}
/*
.tab-content .active {
    display: block;
    
    
    min-height: 165px;
}
.nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    border-right: 1px solid transparent;
    padding-right: 15px;
}*/